pyyaml
pandas
-f https://download.pytorch.org/whl/cu116/torch_stable.html
-f https://data.pyg.org/whl/torch-1.13.1+cu116.html
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torch-scatter
torch-sparse
torch-geometric
